@model CatalogViewModel;

@{
    ViewData["Title"] = "Manage Products";
}

<h1>Manage Products</h1>
<div class="row align-items-center">
    <h4 class="col-1 textFilter">Filter:</h4>
    <form method="get">
    <select name="CatId" asp-items="ViewBag.CatId">
        <option value="0">All</option>
    </select>
        <input type="submit" value="Confirme" class="btnFilter" />
    </form>
</div>
<div class="row justify-content-center">
   <a class="col-2 btn btn-success mb-3" asp-action="Create">Create New</a>
</div>
@if (Model.Articles.Count() == 0)
{
    <h4 class="text-center pt-2 mb-4 text-warning">Aucun article disponible pour cette categorie</h4>
}
<table class="table table-striped">
    <thead>
        <tr class="text-white" style="background-color : rgba(255,141,53,1)">
            <th>
                @if (ViewData["order"].Equals("Label"))
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="Label_desc">Label ▲</a>
                }
                else
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="Label">Label ▼</a>
                }
            </th>
            <th>
                Description
            </th>
            <th>
                @if (ViewData["order"].Equals("BasePrice"))
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="BasePrice_desc">BasePrice ▲</a>
                }
                else
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="BasePrice">BasePrice ▼</a>
                }
            </th>
            <th>
                @if (ViewData["order"].Equals("CategoryName"))
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="CategoryName_desc">CategoryName ▲</a>
                }
                else
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="CategoryName">CategoryName ▼</a>
                }              
            </th>
            <th>
                @if (ViewData["order"].Equals("DiscountId"))
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="DiscountId_desc">DiscountId ▲</a>
                }
                else
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="DiscountId">DiscountId ▼</a>
                }             
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Articles) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountId)
            </td>
            <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
