@model DiscountsIndexViewModel;

@{
    ViewData["Title"] = "Manage Discounts";
}

<h1>Manage Discounts</h1>

<div class="row justify-content-center">
    <a class="col-2 btn btn-success mb-3 mt-3" asp-action="Create">Create New</a>
</div>
<table class="table table-striped">
    <thead>
        <tr class ="text-white text-center" style="background-color : rgba(255,141,53,1)">
            <th>
                <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="id">Id ▲</a>
            </th>
            <th>
                @if (ViewData["order"].Equals("onDate"))
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="onDate_desc">OnDate ▲</a>
                }
                else
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="onDate">OnDate ▼</a>
                }
            </th>
            <th>
                @if (ViewData["order"].Equals("offDate"))
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="offDate_desc">OffDate ▲</a>
                }
                else
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="offDate">OffDate ▼</a>
                }
            </th>
            <th>
                @if (ViewData["order"].Equals("value"))
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="value_desc">Value ▲</a>
                }
                else
                {
                    <a class="text-decoration-none text-white" asp-action="Index" asp-route-sortOrder="value">Value ▼</a>
                }
            </th>
            <th>Nb products</th>
            <th class="col-1"></th>
            <th class="col-2"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Discounts) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OffDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Model.NombersOfProductByDiscount.GetValueOrDefault(item.Id)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td class="text-center">
                    @if (Model.NombersOfProductByDiscount.GetValueOrDefault(item.Id) == 0)
                    {
                        <a class="btn btn-outline-secondary" asp-action="GetAffectedProducts" asp-route-id="@item.Id">Supp Products</a>
                    }else{
                        <a class="btn btn-secondary" asp-action="GetAffectedProducts" asp-route-id="@item.Id">Supp Products</a>
                    }
                | <a class="btn btn-secondary" asp-action="AddAffectedProducts" asp-route-id="@item.Id">Add Products</a>
            </td>
        </tr>
}
    </tbody>
</table>
